html {
	position: relative;
	min-height: 100%;
}
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	/*	line-height: 34px;*/	
	color: #777;
	background-color: #f8f9fa;
	margin-bottom: 85px;
}
* {
	box-sizing: border-box;
}
/* general */

.container {
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
	clear: both;
}
h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #228FDD;
}
h1 {
	padding-top: 20px;
	font-size: 45px;
	line-height: 49px;
}
h2, h3 {
	font-size: 22px;
}
.bg-faded {
	background-color: #fff;
}
#userChoice {
	text-align: center;
	color: #003366;
	text-transform: capitalize;
	background-color: #c8ccd7;
}
#win, #loss, #guessleft {
	text-align: center;
	color: #003366;
	padding-left: 50%;
	padding-top: 5px;
}
#wins h3 {
	float: right;
	margin-top: -55px;
	z-index: 1;
	padding-left: 155px;
	color: #003366;
	font-size: 45px;
	font-family: inherit;
	border-bottom: none;
}
.img-fluid {
	width: 20%;
}
.btn-group-lg > .btn, .btn-lg {
	margin-bottom: 10px;
}
.card-img-top {
	width: 100%;
}
.card-text {
	padding: 0 20px 0 20px;
}
.card-body {
	border-top: 1px lightgray solid;
}
.card-title{
	margin-top: 10px;
}